@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'NanumGothic', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* @apply flex flex-col items-center; */
    -webkit-touch-callout: none !important;
}
#root {
    /* @apply w-full h-dvh max-w-screen-sm px-5; */
    @apply min-w-[360px] overflow-x-hidden;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.no-scroll-box {
    -ms-overflow-style: none;
}
.no-scroll-box::-webkit-scrollbar {
    display: none;
}
