@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'NanumGothic';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#root {
    /* @apply w-full h-dvh max-w-screen-sm px-5; */
    @apply min-w-[360px] overflow-x-hidden;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.no-scroll-box {
    -ms-overflow-style: none;
}
.no-scroll-box::-webkit-scrollbar {
    display: none;
}
