.weekly-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.react-calendar__month-view__weekdays__weekday {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.react-calendar {
    width: 100%;
    border: none;
    line-height: 1.125em;
}
.react-calendar__tile {
    width: 42px;
    height: 42px;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.react-calendar__tile--now {
    color: #ff9800;
    background-color: white;
}
.react-calendar__tile--active {
    background-color: #ff9800;
    color: white;
    border-radius: 50%;
}
.react-calendar__tile {
    width: 42px;
    height: 42px;
}

.react-calendar__tile:disabled {
    background: #f0f0f0;
    color: #c0c0c0;
    /* display: none; */
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #f87171;
    border-radius: 50%;
    display: flex;
    margin-left: 1px;
}
