.weekly-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

.calendar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calendar-day {
    flex: 1;
    margin: 0 2px;
}

.react-calendar {
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__tile--now {
    background: #ffa726;
    color: white;
}

.react-calendar__tile {
    max-width: initial !important;
    flex-basis: 14.2857%;
}

.react-calendar__tile:disabled {
    display: none;
}
