name: Backend Deploy

on:
  push:
    branches: [main]
    paths:
      - "backend/server/**"

env:
  IMAGE: aacho/dangdangwalk

jobs:
  build:
    name: Docker Hub Build and Push
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend/
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Setup Node.js
        uses: actions/setup-node@v3
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: backend/server/node_modules
          key: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('backend/server/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('backend/server/package-lock.json') }}
      - name: Install Dependencies
        if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        working-directory: ./backend/server
        run: npm ci
      - name: Run build
        working-directory: ./backend/server
        run: npm run build
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set short SHA
        run: echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./backend
          file: ./backend/server/Dockerfile
          push: true
          tags: ${{ env.IMAGE }}:api-${{ env.SHORT_SHA }}
  deploy:
    name: Oracle Instance Deploy
    needs: build
    runs-on: [self-hosted, label-api]
    steps:
      - name: Set short SHA
        run: echo "SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
      - name: Create .env
        env:
          ENV_FILE: ${{ secrets.ENV_FILE_BACKEND }}
        run: |
          if [ ! -d "backend/server" ]; then
            mkdir backend/server;
          fi
          echo "$ENV_FILE" > ./backend/server/.env.prod
      - name: Deploy to Oracle Cloud
        run: |
          chmod +x /home/opc/run-backend.sh
          /home/opc/run-backend.sh api-${{ env.SHORT_SHA }} .env.prod ${{ env.IMAGE }}
